<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TuringTeller</title>
    <!-- Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
   <!-- Navigation Bar -->
<nav class="purple">
    <div class="nav-wrapper container">
        <a href="{{ url_for('index') }}" class="brand-logo">TuringTeller</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ url_for('index') }}">Questionnaire</a></li>
            <li><a href="{{ url_for('upload_media') }}">Media Upload</a></li>
        </ul>
    </div>
</nav>

    <!-- Content -->
    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer class="page-footer purple">
        <div class="container">
            © 2024 TuringTeller Made with 💖 by Kei Nova
        </div>
    </footer>

    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
